/*---- Popup -----*/
.active-modal {
    overflow-y: hidden;
}


.overlay-c {
    width: 100vw;
    height: 100vh;
    background: rgba(49,49,49,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 499;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pop-head {
    color: var(--bg-color);
    font-size: larger;
    text-transform: capitalize;
}


.modal-msg {
    width: 280px;
    height: 70Px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    border-style: none;
    background: transparent;
    position: absolute;
    right: 2px;
    top: 2px;
}



/*---- Popup End -----*/

.contact:before,
.contact:after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 0;
}

.contact:before {
    top: 0;
    height: 40%;
    background: url("../Images/aerialView.png") center center / cover;
    border-radius: 10px;
  }

.contact:after {
    top: 40%;
    height: 60%;
    background-image: linear-gradient(to right,#20BF55,#01BAEF);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.contact {
    margin-top: 2rem;
    height: 100vh;
    position: relative;
}

.title-head {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:10px ;
}

.title-c {
    font-size: 2.5rem;
    color: var(--font-color);
    border-left: 4px solid var(--bg-color);
    border-radius:5px ;
    padding: 0 10px;
}

.contact-container-m {
    width: 100%;
    height: 100%;
    /* background-image: url(../Images/top-view-map-blue-backgroundmedium.jpg); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-pop {
    
    width: 70%;
    height: 65%;
    border-radius: 1.5rem;
    background-color: #fff;

}

.pop-cntd {
    height: 100%;
    display: flex;
}

.contact-info {
    width: 50%;
    height: 80%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
     
    
}

.info-cntd {
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-cntd .info-c {
    margin-left: 1rem;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1rem;
    color: var(--bg-color);
}

.contact-info h3 {
    width: 100%;
    font-size:1.5rem ;
    color: var(--bg-color);
    text-align: center;
}

.contact-form {
    width:50%;
    padding: 1rem 1rem;
    height: 70%;
}

.contact-form h3 {
    width: 100%;
    font-size:1.5rem ;
    color: var(--bg-color);
    text-align: center;
   padding-bottom: 10px;
}

.contact-form .form-c { 
    display: flex;
    flex-direction:column ;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;

}


.input-c::placeholder {
    font-size: 1.2rem;
    text-align: center;
}

.input-c {
    width: 90%;
    padding-left: .5rem;
    border-radius:10px ;
    border: 1px solid var(--font-color) ;
    
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--bg-color);
}

.input-c:hover {
    background-color: rgb(179, 218, 251);
}

.input-d:hover {
    background-color: rgb(179, 218, 251);
}


.input-d {
    resize: none;
    width: 90%;
    min-height: 7.5rem;
    padding: .3rem .5rem;
    border-radius:10px ;
    border: 1px solid var(--font-color) ;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--bg-color);
    height: 3.5rem;

}


.input-d::placeholder {
    text-align: center;
}

.form-c button {
    border-style:none ;
}

.social-media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-media > a:hover {
    transform: scale(1.5) ;

}



/*----- Media Query --------*/

@media  screen and (max-width:800px) {
    .contact {
        height: 120vh;
    }

    .info-c {
        font-size: .8rem !important;
        margin-left: 0px !important;
    }

    .info-cntd {
        width: 100%;
        flex-direction: column;
        row-gap: .5rem;
    }


    .contact-pop {
        height: 93%;
    }

    .contact-info {
        width: 85%;
        padding:10px 0;
        height: 60%;
    }

    .pop-cntd {
        flex-direction: column;
        justify-content: center;
        align-items: center;   

    }

    .contact-form {
        width: 100%;
    }

    .form-c {
        height: 90%;
    }
    
}